body {
  margin: 0;
  padding: 0;
  background-color: #f0f8ff; /* Very light blue background */
}

.App {
  text-align: center;
  padding: 20px;
}

.search-container {
  margin-top: 20px;
}

input[type="text"] {
  padding: 10px;
}

button {
  background-color: lightgreen;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: limegreen;
}

button:focus {
  outline: none;
}

.weather-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.weather-card {
  background-color: white;
  padding: 40px;
  margin-bottom: 10px; /* Decrease the distance between cards */
  border-radius: 15px; /* Increase border-radius for rounder corners */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adjust box shadow */
  font-size: 18px; /* Adjust font size */
}
.weather-card {
  background-color: white;
  padding: 45px; /* Decrease padding to make the card more rectangular */
  border-radius: 8px; /* Adjust border-radius for rectangular corners */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Adjust box shadow */
  font-size: 16px; /* Adjust font size */
  margin-bottom: 5px; /* Small space between cards */
}



.weather-card span {
  display: block;
}

.weather-card span:first-child {
  font-weight: bold;
}

